name: Metrics

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

permissions:
  contents: write

concurrency:
  group: metrics
  cancel-in-progress: true

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          base: header, activity, community, repositories, metadata
          config_display: large
          config_octicon: yes
          config_timezone: Europe/Paris
          config_twemoji: yes
          filename: github-metrics.svg
          output_action: commit
          plugin_languages: yes
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_ignored: html, scss, css, js
          plugin_languages_limit: 10
          plugin_languages_recent_days: 30
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used, recently-used
          plugin_languages_threshold: 0%
          template: classic
          token: ${{ secrets.METRICS_TOKEN }}
          user: PHD59fr
